:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-tertiary: #f8f9fa;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
}

body {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bs-tertiary);
    border-bottom: 1px solid #dee2e6;

    .nav-container {
        display: flex;
        align-items: center;
    }

    .header-text {
        font-size: 24px;
        font-weight: bold;
    }

    .header-nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 20px;
            list-style: none;

            a {
                text-decoration: none;
                color: var(--bs-dark);
            }

            a:hover {
                color: var(--bs-primary);
            }

            .dropdown {
                position: relative;
                display: inline-block;
                margin-left: auto;
                align-items: center;
            }

            .dropbtn {
                background: none;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--bs-tertiary)
            }

            .dropdown:hover .dropdown-content {
                display: block;
                width: fit-content;
            }

            .dropdown-content a {
                color: var(--bs-dark);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {
                background-color: var(--bs-secondary);
                width: fit-content + 15px;
            }

            .dropdown:hover .dropbtn {
                color: var(--bs-primary);
            }
        }
    }

    .dropdown-menu-container {

        .dropbtn-menu {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
        }

        
        .dropdown-menu-content {
            display: none;
            position: absolute;
            background-color: var(--bs-tertiary);

            a {
                color: var(--bs-dark);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
        .dropdown-menu:hover .dropdown-menu-content {
            display: flex;
            width: fit-content;
            margin:auto;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            left: 0;
            right: 100%;
            transition: all 1s ease-in-out;

            .dropdown-menu-content a:hover {
                background-color: var(--bs-secondary);
                width: fit-content + 15px;
            }

        }



    }
}